<div class="fem-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text" *ngIf="selectedItem.id">
      Editing &nbsp; <strong>{{originalName}}</strong></h2>
    <h2 class="mdl-card__title-text" *ngIf="!selectedItem.id">Create New Task</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <form novalidate>
      <div class="mdl-textfield mdl-js-textfield">
        <label>Task Name</label>
        <input [(ngModel)]="selectedItem.title" name="name" placeholder="Enter a name" class="mdl-textfield__input" type="text">
      </div>
      <div class="mdl-textfield mdl-js-textfield">
        <label>Task Description</label>
        <input [(ngModel)]="selectedItem.description" name="description" placeholder="Enter a description" class="mdl-textfield__input"
          type="text">
      </div>
      <div class="mdl-textfield mdl-js-textfield">
        <label>Task Priority</label>
        <input [(ngModel)]="selectedItem.priority" name="priority" placeholder="Enter task priority" class="mdl-textfield__input"
          type="text">
      </div>
      <div class="mdl-textfield mdl-js-textfield">
        <label>Task Creation Date</label>
        <input [(ngModel)]="selectedItem.creationdate" name="creationdate" placeholder="Enter Creation Date" class="mdl-textfield__input"
          type="text">
      </div>
      <div class="mdl-textfield mdl-js-textfield">
        <label>Task Status</label>
        <input [(ngModel)]="selectedItem.status" name="status" placeholder="Enter task status" class="mdl-textfield__input" type="text">
      </div>
    </form>
  </div>
  <div class="mdl-card__actions">
    <button type="submit" (click)="cancelled.emit(selectedItem)" class="mdl-button mdl-js-button mdl-js-ripple-effect">Cancel</button>
    <button type="submit" (click)="saved.emit(selectedItem)" class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect">Save</button>
  </div>
</div>
